.gameHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1 rem;
}

.gameHeader * {
  margin: 1rem;
}
.gameDiv {
  width: 25%;
  height: auto;
  border: 1px solid black;
  float: left;
}

.checked {
  opacity: 1;
}

.notChecked {
  opacity: 0.1;
}
